.radio-option-group {
    border-radius: var(--size-border-radius);
    display: flex;
    flex-direction: row;
    gap: var(--size-50);
}

.radio-option-group[data-orientation='vertical'] {
    flex-direction: column;
}

.radio-option {
    align-items: center;
    background-color: var(--color-bg-primary);
    border: var(--size-12) solid var(--color-bg-primary);
    border-radius: var(--size-25);
    color: var(--color-content-secondary);
    cursor: pointer;
    display: flex;
    flex: 1;
    justify-content: center;
    padding: var(--size-25) var(--size-50);
    transition:
        background-color 0.15s ease,
        color 0.15s ease;
    user-select: none;
}

.radio-option[data-selected] {
    background-color: var(--color-content-bg-primary);
    border-color: var(--color-content-bg-primary);
    color: var(--color-content-on-accent);
}

.radio-option[data-hovered] {
    background-color: var(--color-bg-primary-hover);
}

.radio-option[data-selected][data-hovered] {
    background-color: var(--color-bg-accent);
}

.radio-option[data-focus-visible] {
    outline: var(--size-border-focus) solid var(--color-border-focus);
    outline-offset: var(--size-border-focus-offset);
}
