.button {
    border-radius: var(--size-border-radius);
    padding: var(--size-75) var(--size-100);
}

.button--primary {
    box-shadow: 0 0 0 var(--color-border-elevation);
    background-color: var(--color-content-bg-primary);
    color: var(--color-content-primary);
}

.button:focus-visible {
    outline: var(--size-border-focus) solid var(--color-border-focus);
    outline-offset: var(--size-border-focus-offset);
}
