.button {
    align-items: center;
    border: none;
    border-radius: var(--size-border-radius);
    display: inline-flex;
    justify-content: center;
}

.button--size-s {
    height: var(--size-250);
    padding-inline: var(--size-75);
    position: relative;
}

@media (hover: none), (pointer: coarse) {
    .button--size-s::after {
        content: '';
        height: var(--size-275);
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: var(--size-275);
    }
}

.button--size-m {
    height: var(--size-300);
    padding-inline: var(--size-100);
}

.button--primary {
    --button-hover-bg: var(--color-bg-accent);
    --button-pressed-bg: var(--color-bg-accent);
    --button-hover-color: var(--color-content-on-accent);

    background-color: var(--color-content-bg-primary);
    box-shadow: 0 0 0 var(--color-border-elevation);
    color: var(--color-content-on-accent);
}

.button--secondary {
    --button-hover-bg: var(--color-bg-secondary-hover);
    --button-pressed-bg: var(--color-bg-highlight);
    --button-hover-color: var(--color-content-primary);

    background-color: var(--color-bg-primary);
    border: var(--size-6) solid var(--color-border);
    color: var(--color-content-primary);
}

.button--ghost {
    --button-hover-bg: transparent;
    --button-pressed-bg: transparent;
    --button-hover-color: var(--color-content-primary);

    background-color: transparent;
    color: var(--color-content-secondary);
    padding: 0;
}

.button[data-hovered] {
    background-color: var(--button-hover-bg);
    color: var(--button-hover-color);
}

.button[data-pressed] {
    background-color: var(--button-pressed-bg);
}

.button[data-focus-visible] {
    outline: var(--size-border-focus) solid var(--color-border-focus);
    outline-offset: var(--size-border-focus-offset);
}
