.footer {
    align-items: center;
    background-color: var(--color-bg-secondary);
    color: var(--color-content-primary);
    display: flex;
    justify-content: center;
    padding-block: var(--size-50);
    width: 100%;
}

.footer__content {
    align-items: center;
    display: flex;
    justify-content: center;
    max-width: var(--content-max-width);
    padding-inline: var(--content-padding-inline);
    width: 100%;
}

.footer__locales {
    display: flex;
    gap: var(--size-50);
}

.footer__locale-button {
    background: none;
    border: none;
    color: var(--color-content-secondary);
    cursor: pointer;
    padding: 0;
    text-decoration: underline;
}

.footer__locale-button:hover {
    color: var(--color-content-primary);
}

.footer__locale-button[aria-current='true'] {
    color: var(--color-content-bright);
    cursor: default;
    font-weight: 700;
    text-decoration: none;
}

.footer__locale-button:disabled {
    pointer-events: none;
}
