.footer {
    align-items: center;
    background-color: var(--color-bg-secondary);
    color: var(--color-content-primary);
    display: flex;
    justify-content: center;
    padding-block: var(--size-150);
    width: 100%;
}

.footer__content {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: var(--size-125) var(--size-300);
    justify-content: center;
    max-width: var(--content-max-width);
    padding-inline: var(--content-padding-inline);
    width: 100%;
}

.footer__locales,
.footer__contact {
    display: flex;
    flex-wrap: wrap;
    gap: var(--size-100);
    justify-content: center;
}

@media (width >= 640px) {
    .footer__content {
        justify-content: space-between;
    }
}

.footer__link {
    background: none;
    border: none;
    color: var(--color-content-secondary);
    cursor: pointer;
    padding: 0;
}

.footer__link:hover {
    color: var(--color-content-primary);
    text-decoration: underline;
}
