.divider--size-s {
    --size-divider: var(--size-3);
}

.divider--size-m {
    --size-divider: var(--size-6);
}

.divider--size-l {
    --size-divider: var(--size-12);
}

.divider {
    background-color: var(--color-border);
    border-radius: var(--size-6);
    border-style: none;
    height: var(--size-divider);
    margin: 0;
    width: 100%;
}

.divider[aria-orientation='vertical'] {
    height: 100%;
    min-height: var(--size-200);
    width: var(--size-divider);
}
