.settings__trigger {
    align-items: center;
    all: unset;
    border-radius: var(--size-border-radius);
    color: var(--color-content-secondary);
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: var(--size-25);
    transition: color 0.2s ease;
}

.settings__trigger:hover {
    color: var(--color-content-primary);
}

.settings__trigger[data-focused] {
    outline: var(--size-border-focus) solid var(--color-border-focus);
    outline-offset: var(--size-border-focus-offset);
}

.issue-text,
.issue-text__link {
    color: var(--color-content-primary);
}

.settings__section {
    padding-block: var(--size-50);
}

.settings__section + .settings__section {
    border-top: var(--size-6) solid var(--color-border-elevation-2);
}

.settings__section--disabled {
    opacity: 0.5;
    pointer-events: none;
}

.settings__section-title {
    color: var(--color-content-secondary);
    letter-spacing: var(--size-6);
    margin: 0;
    margin-bottom: var(--size-25);
    text-transform: uppercase;
}
