.settings__trigger {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    transition: color 0.2s ease;
}

.settings__trigger[data-hovered] {
    color: var(--color-content-primary);
}

.settings__trigger[data-focus-visible] {
    outline: var(--size-border-focus) solid var(--color-border-focus);
    outline-offset: var(--size-border-focus-offset);
}

.settings__body {
    gap: var(--size-125);
}
