.header {
    align-items: center;
    background-color: var(--color-bg-secondary);
    color: var(--color-content-primary);
    display: flex;
    height: var(--header-height);
    justify-content: center;
    left: 0;
    padding-block: 0;
    position: fixed;
    top: 0;
    transition: background 0.3s ease;
    width: 100%;
    z-index: 100;
}

.header__content {
    display: flex;
    height: 100%;
    max-width: var(--content-max-width);
    padding: var(--size-25) calc(var(--size-100) + var(--content-padding-inline));
    width: 100%;
}

.header__brand {
    color: var(--color-content-bright);
}

.header__nav {
    display: flex;
    flex: 1;
    gap: var(--size-100);
    justify-content: center;
}

.header__actions {
    align-items: center;
    display: flex;
    gap: var(--size-50);
}
