/* Title */
.title-l {
    font-size: var(--size-150);
    font-weight: 700;
    letter-spacing: normal;
    line-height: 1.2;
}

.title-m {
    font-size: var(--size-125);
    font-weight: 700;
    letter-spacing: normal;
    line-height: 1.2;
}

/* Body */
.body-l {
    font-size: var(--size-100);
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1.5;
}

.body-m {
    font-size: var(--size-75);
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1.4;
}

.body-s {
    font-size: var(--size-62);
    font-weight: 400;
    letter-spacing: var(--size-3);
    line-height: 1.3;
}

/* Label */
.label-l {
    font-size: var(--size-100);
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.3;
}

.label-m {
    font-size: var(--size-75);
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.2;
}

.label-s {
    font-size: var(--size-62);
    font-weight: 600;
    letter-spacing: var(--size-3);
    line-height: 1.2;
}
