.day {
    display: flex;
    flex-direction: column;
    gap: var(--size-25);
    min-width: 0;
}

.day__header {
    align-items: start;
    background-color: var(--color-bg-highlight);
    border-radius: var(--size-37);
    color: var(--color-content-primary);
    display: flex;
    flex-direction: column;
    gap: var(--size-25);
    padding: var(--size-75) var(--size-50) var(--size-25);
}

.day__name {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.day__today-badge {
    background-color: var(--color-bg-accent);
    border-radius: var(--size-25);
    color: #fff;
    padding: var(--size-9) var(--size-37);
    text-transform: uppercase;
}

.day__entries {
    display: flex;
    flex-direction: column;
    gap: var(--size-37);
    padding: var(--size-37) var(--size-0);
}

.day--today .day__entries {
    background-color: var(--color-bg-highlight);
    border-radius: var(--size-37);
}

.day__empty {
    color: var(--color-content-secondary);
    padding: var(--size-50);
    text-align: center;
}
