.airing-page {
    background-color: var(--color-bg-primary);
    color: var(--color-content-primary);
    display: flex;
    flex: 1;
    justify-content: center;
}

.airing-page__content {
    max-width: var(--content-max-width);
    padding-inline: var(--content-padding-inline);
    width: 100%;
}

.airing-page__disclosure {
    color: var(--color-content-secondary);
    margin-block-end: var(--size-50);
}
