:root {
    /* Globals */
    --bg-primary: #121212;
    --bg-secondary: #152232;
    --text-primary: #ffffff;
    --text-secondary: #a0b1c5;
    --border: red;
    --accent: #667eea;
}

.light {
    /* Globals */
    --bg-primary: #ffffff;
    --bg-secondary: #f9f9f9;
    --text-primary: #213547;
    --text-secondary: #666666;
    --border: #dddddd;
    --accent: #747bff;
}
