.link {
    text-decoration: underline;
}

.link[data-focus-visible] {
    outline: var(--size-border-focus) solid var(--color-border-focus);
    outline-offset: var(--size-border-focus-offset);
}

.button-link {
    text-decoration: none;
}
